#entreprise{
    padding-left: 20px;
}

#liste_missions{
    padding-left: 60px;
}

/* s’applique à tes 3 containers sans toucher à ton HTML */
.st_michel_container,
.mylan_container,
.vandemoortele_container {
  display: grid;
  grid-template-columns: 1fr auto; /* 1ère colonne = texte, 2ᵉ = logo à sa taille naturelle */
  column-gap: 10px;                        /* espace entre texte et logo */
  align-items: center;                      /* aligne tous les logos sur le même axe vertical (en haut du texte) */
  margin-bottom: 40px;                     /* espacement entre chaque expérience */
}

.st_michel_container img,
.mylan_container img,
.vandemoortele_container img {
  display: block;
  max-width: 150px;
  width: 100%;
  height: auto;
  margin-right: 500px;
  }

.logo_vandemoortele img{
    width : 100%;
    max-width : 250px;
    height: auto;
}

.logo_mylan img{
    width : 100%;
    max-width : 100px;
    height: auto;
}

.st_michel,
.mylan,
.vandemoortele {
  margin-left: 20px; /* Décale le texte vers la droite */
}

h1 {
    text-align: center;
    padding: 20px 0 30px;
    text-decoration: underline;
}

section{
    background-color: #070020;
    padding: 20px 50px;
}

.diplomes{
    margin: 20px 10px;
    font-size: 1.1em;
    line-height: 1.5;
}

@media screen and (max-width: 996px) {
      ul{
        display: none;
      }

      h2,p{
        padding: 5px 0 10px;
      }
    
    #liste_missions,
    #entreprise{
        text-align: center;
    }

      .st_michel_container,
      .mylan_container,
      .vandemoortele_container {
        display: grid;
        grid-template-columns: 1fr;                     
        align-items: center;                     
        margin-bottom: 40px;  
        font-size: 0.8em; 
      }             
      
      .st_michel_container img,
      .mylan_container img,
      .vandemoortele_container img {
        display: block;
        max-width: 150px;
        width: 100%;
        height: auto;
        margin : auto;
        align-items: center;
      }

      .st_michel,
      .mylan,
      .vandemoortele {
        margin : auto;
    }

    .logo_vandemoortele img{
      width : 100%;
      max-width : 250px;
      height: auto;
    }

    .logo_mylan img{
      width : 100%;
      max-width : 90px;
      height: auto;
    }

    .diplomes{
      margin: auto;
      font-size: 0.9em;
      line-height: 1.5;
      text-align: center;
      margin-bottom: 10px;
    }

  }